{% extends 'base.html' %}
{% load static %}

<!-- Making such that the title changes on the tab in ref to the base page -->
{% block title%}
Create A New Blog Post
{% endblock %}

{% block content %}
    <h1>Add Post</h1><br>
    {% if user.is_authenticated %}
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-secondary">Post</button>
        <button class="btn btn-danger"><a href="{% url 'blog:home' %}" style="text-decoration: none; color: white;">Cancel Post</a></button>
    </form>
    {% else %}
    <p>You are not allowed here. Login to access this page.</p>
    {% endif %}
<script>
    // Fetching current user id and placing it on the form
    let user_id = "{{user.id}}";
    author_input = document.getElementById('author').value = user_id;
</script>
{% endblock %}