{% extends 'base.html' %}
{% load static %}

<!-- Making such that the title changes on the tab in ref to the base page -->
{% block title%}
{{post.title}}
{% endblock %}

{% block content %}
    <h1>{{post.title}}</h1>
    <small>
        - <a href="{% url 'blog:blog-category' post.category %}">{{post.category}}</a> <br>
        By: {{post.author.first_name}} {{post.author.last_name}}
    </small>
        {% if user.is_authenticated %}
            {% if user.id == post.author.id%}
            - <small><a href="{% url 'blog:update-post' post.pk%}">Edit</a> <a href="{% url 'blog:delete-post' post.pk%}">Delete</a></small>
            {% endif %}
        {% endif %}
    <hr>
    <br>
    {{ post.body }}
    <br>
    <br>

    <p>
        <a href="{% url 'blog:home' %}" class="btn btn-secondary">Back</a>
    </p>
    <hr>
    <br><br>
    <form action="{% url 'blog:post-like' post.pk %}" method="POST">
        {% csrf_token %}
        {% if user.is_authenticated %}
            {% if liked %}
                <button class="btn btn-danger" name="post_id" value="{{ post.pk }}">Unlike | {{total_likes}} Likes</button> - {{total_likes}} Likes
            {% else%}
                <button class="btn btn-primary" name="post_id" value="{{ post.pk }}">Like | {{total_likes}} Likes</button> - {{total_likes}} Likes

            {% endif%}
        {% else %}
            <a href="{% url 'login' %}">Login</a> to be able to like - {{total_likes}} Likes

        {% endif%}
    </form>

    {% if user.is_authenticated %}
        <form action="{% url 'blog:post-comment' post.pk %}" method="POST">
            {% csrf_token %}
            {{comment_form}}
            <button type="submit" class="btn btn-primary">Comment</button>
        </form>
    {% endif %}

    <br><br>
    {% if not post.comments.all %}
    <h2>Comments:</h2>
        No comments yet...
        {{post.comments.all|length}}
    {% else %}
    <h2>{{post.comments.all|length}} Comments:</h2>
        {% for comment in post.comments.all %}
            <strong>
                {{ comment.author}}
                {{ comment.post_date}}
            </strong>
            <p>
                {{ comment.body }}
            </p>
        {% endfor %}
    {% endif %}
    <script>
        // Fetching current user id and placing it on the form
        let user_id = "{{user.id}}";
        author_input = document.getElementById('author').value = user_id;
        let post_id = "{{post.pk}}";
        post_input = document.getElementById('post').value = post_id;
    </script>
{% endblock %}