{% extends 'base.html' %}
{% load static %}

<!-- Making such that the title changes on the tab in ref to the base page -->
{% block title%}
{{post.title}}
{% endblock %}

{% block content %}
    <h1>{{post.title}}</h1>
    <small>
        - <a href="{% url 'blog:blog-category' post.pk %}">{{post.category}}</a> <br>
        By: {{post.author.first_name}} {{post.author.last_name}}
    </small>
        {% if user.is_authenticated %}
        - <small><a href="{% url 'blog:update-post' post.pk%}">Edit</a> <a href="{% url 'blog:delete-post' post.pk%}">Delete</a></small>
        {% endif %}
    <hr>
    <br>
    {{ post.body }}
    <br>
    <br>

    <p>
        <a href="{% url 'blog:home' %}" class="btn btn-secondary">Back</a>
    </p>
{% endblock %}