{% extends 'base.html' %}
{% load static %}

<!-- Making such that the title changes on the tab in ref to the base page -->
{% block title%}
Blog Categories - VG Blog
{% endblock %}

{% block content %}
<h1>
    Categories
</h1>
    {% for category in category_menu_list %}
      <!-- <h3><a class="dropdown-item" href="{% url 'blog:blog-category' category %}">{{category}}</a></h3> -->
      <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action">
          <a class="dropdown-item" href="{% url 'blog:blog-category' category %}">{{category}}

      <!-- Filters this information only for people in the manager group. -->
      {% for group in user.groups.all%}
        {% if "Manager" in group.name %}
          <small>- <a href="{% url 'blog:update-category' category.pk %}">Edit</a> <a href="{% url 'blog:delete-category' category.pk %}">Delete</a></small>
        {% endif %}
      {% endfor %}
          </a>
        </button>
      </div>
    {% endfor %}
{% endblock %}