{% extends 'base.html' %}
{% load static %}

<!-- Making such that the title changes on the tab in ref to the base page -->
{% block title%}
Delete - {{post.category}}
{% endblock %}

{% block content %}
    <h1>Delete Category: {{post.category}}</h1><br>

    {% if user.is_authenticated %}
    <form method="POST">
        {% csrf_token %}
        <strong>Are you sure you want to delete this category?</strong> <br><br>
        <p>
            <button class="btn btn-secondary">Delete</button>
            <button class="btn btn-danger"><a href="{% url 'blog:home' %}" style="text-decoration: none; color: white;">Cancel</a></button>
        </p>
    </form>

    {% else %}
    <p>You are not allowed here. Login to access this page.</p>
    {% endif %}

{% endblock %}