{% extends 'base.html' %}
{% load static %}

<!-- Making such that the title changes on the tab in ref to the base page -->
{% block title%}
Edit - {{post.title}}
{% endblock %}

{% block content %}
    <h1>Update Post</h1><br>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-secondary">Update</button>
        <button class="btn btn-danger"><a href="{% url 'blog:article-details' post.pk %}" style="text-decoration: none; color: white;">Cancel Update</a></button>
    </form>


{% endblock %}